body {
	width: 100%;
	padding:0;
	margin:0;
	color:#000;
}

header {
	background: rgb(22,16,26);
	height: 8%;
	width: 100%;
}

nav {
	color: #fff;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 2% 0;
	font: bold 100% "Josefin Sans", sans-serif;
	text-align: center;
}

nav a {
	color: #fff;
	display: inline-block;
    padding: 0 3% 0 3%;
    text-decoration: none;
}

nav a:hover {
	color: rgb(172,127,91);
}

section:nth-child(odd) {
	background-color: rgb(19,35,67);
	padding-bottom: 5%;
}

section:nth-child(odd) h1 {
	color: rgb(255,255,255);
	font-size: 200%;
	padding-top: 5%;
}

#logo h1 {
	font-size: 300%;
}

section:nth-child(even) {
	background-color: rgb(255,255,255);
}

section:nth-child(even) h1 {
	color: rgb(19,35,67);
	font-size: 200%;
	padding-top: 5%;
}

#me {
	display: block;
	width: 20%;
	height: 20%;
	margin: 0 auto;
	border-radius: 50%;
}

h1 {
	text-align: center;
	font: bold 400% "Josefin Sans", sans-serif;
	line-height: 0.25;
	color: #fff;
}

h2 {
	font: bold 150% "Josefin Sans", sans-serif;
	text-align: center;
	color: rgb(172,127,91);
}

#mystory {
	margin:0 auto;
	width: 75%;	
	line-height: 1.5;
	font-size: 150%;
}

#mystory a {
	text-decoration: none;
	color: rgb(172,127,91);
}

#mystory a:hover {
	color: rgb(19,35,67);
}

#mywork {	
	width: 100%;	
}

#mywork img {
	display: inline-block;
	width: 20%;
	margin: 1.5%;
	border: double 10px transparent;
  	background-image: linear-gradient(white, white), radial-gradient(rgb(172,127,91), #000);
  	background-origin: border-box;
  	background-clip: content-box, border-box;
}

#mywork img:hover {
  	background-image: linear-gradient(white, white), radial-gradient(#000, rgb(172,127,91));
}

footer {
	clear: both;
	text-align: center;
	color: #000;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	height: 8%;
}

@media only screen and (max-width: 800px) {
	
}



@media only screen and (max-width: 550px) {
	
}
