body {
	width: 100%;
	padding:0;
	margin:0;
	color:#000;
}

header {
	
	width: 100%;
}

nav {
	color: rgb(172,127,91);
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 2% 0;
	font: bold 100% "Josefin Sans", sans-serif;
	text-align: center;
}

nav a {
	color: rgb(172,127,91);
	display: inline-block;
    padding: 0 3% 0 3%;
    text-decoration: none;
}

nav a:hover {
	color: rgb(19,35,67);
}

section:nth-child(odd) {
	/*background-color: rgb(19,35,67);*/
	padding-bottom: 5%;
}

section:nth-child(odd) h1 {
	/*color: rgb(255,255,255);*/
	font-size: 200%;
	padding-top: 5%;
}

#logo {

	width: 50%;
	margin-top: 20%;
	margin-left: 40%;
	margin-bottom: 20%;
	padding: 0;
	background: url("../img/foto.jpg") no-repeat;
}

#logo h1 {
	color: rgb(19,35,67);
	font-size: 300%;
}

#logo h1, h2 {
	position: relative;
	left: -70%;
}

#logo p {
	position: relative;
	left: -40%;
}

#logo a {
	text-decoration: none;
	color: rgb(172,127,91);
}

#logo a:hover {
	color: rgb(19,35,67);
}

section:nth-child(even) {
	background-color: rgb(255,255,255);
}

section:nth-child(even) h1 {
	color: rgb(19,35,67);
	font-size: 200%;
	padding-top: 5%;
}

h1 {
	text-align: center;
	font: bold 400% "Josefin Sans", sans-serif;
	line-height: 0.25;
	color: rgb(172,127,91);
}

h2 {
	font: bold 150% "Josefin Sans", sans-serif;
	text-align: center;
	color: rgb(172,127,91);
}

#mystory {
	margin:0 auto;
	width: 75%;	
	line-height: 1.5;
	font-size: 125%;
}

#mystory a {
	text-decoration: none;
	color: rgb(172,127,91);
}

#mystory a:hover {
	color: rgb(19,35,67);
}

#mywork {	
	width: 100%;	
}

.column {
	display: inline-block;
	float: left;
	width: 40%;
	padding: 0 5% 0 5%;
}

.clearfloat {
	clear: both;
	text-align: center;
	padding: 5% 10% 0 10%;
}

#mywork ul {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

#mywork li {
	display: inline-block;
	padding: 20px;
	color: #fff;
	padding: - 5px;
}

#mywork img {
	width: 30%;
	padding: 0;
}

#mywork img:hover {
  	background-image: linear-gradient(white, white), radial-gradient(#000, rgb(172,127,91));
}

footer {
	clear: both;
	text-align: center;
	color: #000;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	height: 8%;
}

@media only screen and (max-width: 800px) {
	
}



@media only screen and (max-width: 550px) {
	
}
